<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="4">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestScript.TestCase"/>
      <class name="TestScript.TestCase2"/>
      <class name="TestScript.TestCase3"/>
      <class name="TestScript.TestCase4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
